<footer>
    <ul class="social-icon">
        <li class="social-icon__item">
            <a class="social-icon__link" target="_blank" href="https://www.facebook.com/amra.zenkic.9"><img src="../images/icons-facebook.png"></a>
        </li>
        <li class="social-icon__item">
            <a class="social-icon__link" target="_blank" href="https://www.instagram.com/saidaa.34/"><img src="../images/icons-instagram.png"></a>
        </li>
        <li class="social-icon__item">
            <a class="social-icon__link" href="https://twitter.com/" target="_blank"><img src="../images/icons-twitter.png"></a>
        </li>
    </ul>

    <p>&copy;2024 | All Rights Reserved</p>
</footer>